# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Aijava\javaproject\260422\Solo Coder作业\分账系统重构\dbfengZhang\fenzhang-refactored\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
